.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, 150px);
    /* background-color: #2196F3; */

  }

  .wrapper > div {
   border: 4px solid #2c4c3b;
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;
  }

  .wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }


  .one {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .two {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1/2;
  }
  .four {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }