.st0 {
    opacity: .5;
    fill: #fff;
    enable-background: new
}
.active{
    fill:  #d7ccb7;
}

.st0:hover {
  fill:  #af976d;
}
.cls-1:hover {
  fill:  #af976d;
}

.st1 {
    fill: #65656a
}

.cls-1 {
    fill: #fff;
    fill-opacity: .5
}

.cls-2 {
    fill: #65656a
}


.custom-select {
    position: relative;
    border: 1px solid #af976d;

  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/

  }
  
  .select-selected {
    background-color: white;

  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: gray transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent gray transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 2px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 2px solid;
    /* height: 300px; */
    overflow: scroll;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }