

.active-day {
    background-color: #af976d; 
    border-radius: 50%;
    color: white;
    font: bold;
}

.active-day:hover{
    background-color: #af976d;
    color: white;
}



.dc-img{
    animation: profile_animate 8s ease-in-out infinite 1s;
    border:4px solid #2c4c3b;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
 }
 
 @keyframes profile_animate{
    0%{
        border:4px solid #2c4c3b;
       border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
       
    }
    50%{
        border:4px solid #E5F6DF;
       border-radius:  30% 60% 70% 40% /50% 60% 30% 60%;
    }
    75%{
        border:4px solid #af976d;
       border-radius:   60%  40% 30% 70%/60% 30% 70% 40%;
    }
    100%{
        border:4px solid #E5F6DF;
       border-radius:   60%  40% 30% 70%/60% 30% 70% 40%;
    }
 }
 