.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn::after {
  position: absolute;
  content: "";
  background: #e5f6df;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  color: #2c4c3b;

}

.btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;


}
