.input {
  width: 100% !important;
}


.transition-transform {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.transform {
  transform-origin: center;
}

/* .rotate-45 {
  transform: rotate(-45deg);
} */