.react-datepicker__input-container >  input, optgroup,  textarea{
   color:black;
   padding: 5px;
   border-radius: 10px;
   outline: none;
}

.react-datepicker__year-select {
  max-height: 200px; /* Set the desired max-height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}