
.slider {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #2c4c3b;
    margin-top: 15px;
 }
 .progress{
    height: 5px;
    position: absolute;
    border-radius: 5px;
    background: #E5F6DF;
 }

 .range-input{
    position: relative;
 }

 .range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
 }

 input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #2c4c3b;
    pointer-events: auto;
    cursor: grab;
 }